
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to Blogini</h1>
        <p class="lead">Your blog</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About this page</h2>
                <p class="lead">Lorem epsom .............................:</p>
                <ul>
                    <li>Create & share your posts!</li>
                    <li><strong>What are you waiting for           | </strong><a class="btn btn-primary" routerLink="/posts/new"><i>express yourself!</i></a></li>
                    <li><a class="btn btn-primary" routerLink="/posts">Check out posts!</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
